# Gitignore for rymarovHelper project

# Backend (Symfony/PHP)
/backend/vendor/
/backend/var/
/backend/.env
/backend/.env.local
/backend/.env.dev.local
/backend/symfony.lock # Composer lock file for Symfony Flex

# Frontend (Next.js/Node.js)
/frontend/node_modules/
/frontend/.next/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.env
/frontend/.env.local

# IDE specific (IntelliJ/PhpStorm)
.idea/

# OS specific
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yaml
